<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">
    <h2>Produkty</h2>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilosc</th>
            <th>Dostępnosc</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="|${#numbers.formatDecimal(product.price, 1, 2)}zł|"></td>
            <td th:text="${product.quantity}"></td>
            <td>
                <span th:uk-icon="${product.available} ? 'check' : 'close'"></span>
            </td>
            <td style="width: 250px">
                <a th:href="@{/products/edit/{id}(id=${product.id})}"><input type="button" class="uk-button uk-button-primary" value="Edytuj"></a>
                <a th:href="@{/products/remove/{id}(id=${product.id})}"><input type="button" class="uk-button uk-button-danger" value="Usuń"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{products/new}"><input style="background-color: #32d296; color: white" class="uk-button" type="button" value="Dodaj produkt"></a>
    </div>
</div>
</body>
</html>
