<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>

<div class="container">
    <form style="width: 400px; margin: auto" th:action="@{/products/save}" th:object="${product}" method="post">
        <div class="uk-margin">
            <label>Nazwa</label>
            <input th:field="*{name}" class="uk-input" type="text">
        </div>
        <div class="uk-margin">
            <label>Cena</label>
            <input th:field="*{price}" type="number" step="0.01" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Ilość</label>
            <input th:field="*{quantity}" type="number" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Dostępny</label>
            <input th:field="*{available}" type="checkbox" class="uk-checkbox">
        </div>
        <input th:field="*{id}" hidden type="number">
        <a th:href="@{/products}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>
