<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>

<div class="container">
    <h2>Sposoby dostawy</h2>
    <h4 th:text="${shippingMethodName1}"></h4>
    <span th:text="|${#numbers.formatDecimal(shippingMethodPrice1, 1, 2)}zł|"></span>
    <h4 th:text="${shippingMethodName2}"></h4>
    <span th:text="|${#numbers.formatDecimal(shippingMethodPrice2, 1, 2)}zł|"></span>
    <h4 th:text="${shippingMethodName3}"></h4>
    <span th:text="|${#numbers.formatDecimal(shippingMethodPrice3, 1, 2)}zł|"></span>
</div>

</body>
</html>
