<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">


<body>

<div class="container">
    <h2>Użytkownicy</h2>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Email</th>
            <th>Wiek</th>
            <th>Kraj</th>
            <th>Aktywny</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.country}"></td>
            <td><span th:uk-icon="${user.active} ? 'check' : 'close' "></span></td>
            <td style="width: 250px">
                <a th:href="@{/users/edit/{id}(id=${user.id})}"><input class="uk-button uk-button-primary" value="Edytuj" type="button"></a>
                <a th:href="@{/users/remove/{id}(id=${user.id})}"><input class="uk-button uk-button-danger" value="Usuń" type="button"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/users/new}"><input style="background-color: #32d296; color: white" class="uk-button" value="Dodaj użytkownika" type="button"></a>
    </div>
</div>

</body>
</html>
