<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/css/uikit.min.css" th:href="@{css/uikit.css}">
</head>
<body>

<div class="uk-card-default uk-card uk-card-body" style="width: 400px; margin: 300px auto">
    <h2 class="uk-text-center uk-card-title">Sebastian</h2>
    <h2 th:text="#{welcome}" class="uk-text-center uk-card-title"></h2>
    <a th:href="@{products}" th:text="#{enter}" class="uk-button uk-button-secondary uk-width-1-1" style="margin-top: 50px"></a>
</div>

</body>
</html>
